:root{
  font-size: 62.5%; /* 1rem = 10px*/
}

*{
  box-sizing: border-box;
}



/*===================== MAIN ====================== */
main{
  height: 92rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===================== BODY ====================== */
body{
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.4rem;
}

/*===================== SECTION ====================== */
#presentation-card{
  width: 37rem;
  height: 42rem;
  background-color: white;
  border-radius: 2rem;
  margin: auto;
  
}

.image-card-top{
  border-radius:2rem 2rem 0rem 0rem;
  width: 37rem;
}

.image-victor{
  border: white solid 0.5rem;
  border-radius: 5.5rem;
  z-index: 1;
  margin-top: -50px;
  margin-left: 13rem;
}

.bio{
  text-align: center;
}

.bio span{
  font-weight: 300;
  color: hsl(227, 10%, 46%);
  
}

.bio p {
  font-size: 1.6rem;
  font-weight: 300;
  color: hsl(227, 10%, 46%);
}

/*===================== STATS ====================== */
#stats{
  margin-top:5rem ;
  width: 31rem;
}


ol{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

li{
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  padding-inline:2.5rem;
}

li p{
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  color: hsl(227, 10%, 46%);
  margin-top: 1rem;
}


.bg-top{
width: 110rem;
margin-left: -50rem;
margin-top: -50rem;
z-index: -1;
position: fixed;
}

.bg-bot{
width: 120rem;
z-index: -1;
margin-left: 55rem;
margin-top: 60rem;
position: fixed;

}
